/*
  ===========================
  VARIABLES
  ===========================
*/
$primary-color: #556270;
$hover-color: #4ECDC4;
/*
  ===========================
  MIXINS
  ===========================
*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
  background: $primary-color;
  color: #fff;
  font-family: Georgia, serif;
}

/*
  ===========================
  MAIN APP STYLING
  ===========================
*/
main {
  @include border-radius(50%);
  border: 1px solid #C7F464;
  height: 360px;
  margin-top: 2em;
  max-width: 360px;

  h2 {
    margin-top: 100px;
    font-size: 5em;
  }
}

.controls * {
  display: inline-block;
}

.controls {
  font-size: 32px;
  margin: 0 auto;
  margin-top: 30px;
  width: 240px;
}

button {
  background: $primary-color;
  border: none;
  &:hover {
    color: $hover-color;
  }
}

menu {
  button {
    font-size: 32px;
    padding: 10px 20px;
  }
}
